<a href="https://colab.research.google.com/github/aks3743/basic-ML/blob/master/MPNeuron.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import sklearn.datasets
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split as tts

In [0]:
bc=sklearn.datasets.load_breast_cancer()

In [0]:
X=bc.data
Y=bc.target

In [5]:
print(X.shape)
print(Y.shape)

(569, 30)
(569,)

In [0]:
data=pd.DataFrame(X,columns=bc.feature_names)
data["class"]=Y

In [11]:
data.head()

   mean radius  mean texture  ...  worst fractal dimension  class
0        17.99         10.38  ...                  0.11890      0
1        20.57         17.77  ...                  0.08902      0
2        19.69         21.25  ...                  0.08758      0
3        11.42         20.38  ...                  0.17300      0
4        20.29         14.34  ...                  0.07678      0

[5 rows x 31 columns]

In [12]:
print(data["class"].value_counts())

1    357
0    212
Name: class, dtype: int64

In [14]:
print(bc.target_names)

['malignant' 'benign']

In [15]:
data.groupby(["class"]).mean()

       mean radius  mean texture  ...  worst symmetry  worst fractal dimension
class                             ...
0        17.462830     21.604906  ...        0.323468                 0.091530
1        12.146524     17.914762  ...        0.270246                 0.079442

[2 rows x 30 columns]

In [0]:
Y=data["class"]
data.drop("class",axis=1)
X_train,X_test,Y_train,Y_test = tts(X,Y)

In [23]:
print(X.shape,X_train.shape,X_test.shape)

(569, 30) (426, 30) (143, 30)

In [31]:
X_train,X_test,Y_train,Y_test = tts(X,Y,test_size=.1)
print(X.shape,X_train.shape,X_test.shape)

(569, 30) (512, 30) (57, 30)

In [32]:
print(Y.shape,Y_train.shape,Y_test.shape)

(569,) (512,) (57,)

In [33]:
print(Y.mean(),Y_train.mean(),Y_test.mean())

0.6274165202108963 0.634765625 0.5614035087719298

In [0]:
X_train,X_test,Y_train,Y_test = tts(X,Y,test_size=.1,stratify=Y)

In [35]:
print(Y.mean(),Y_train.mean(),Y_test.mean())

0.6274165202108963 0.626953125 0.631578947368421

In [0]:
X_train,X_test,Y_train,Y_test = tts(X,Y,test_size=.1,stratify=Y,random_state=1)

In [0]:
#stratify keeps the train and data in the same mean range 
#random_state keeps the reproducability of the data